/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfbfb;
}*/

/*body {
    background-color: #fcfbfb;
}*/

/*header {
    display: flex;
    position: absolute;
    font-size: large;
    padding: 50px;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    width: 100%;

}*/

h1 {
    font-family: 'Inter', sans-serif;
}


.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfbfb;
    padding: 0 1.5rem;
    /*scroll-behavior: smooth;*/

}

/*.infoFilms{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fcfbfb;
    padding: 0 1.5rem;
}*/

.cajaFilms {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfbfb;
    padding: 0 1.0rem;
    scroll-behavior: smooth;
}

.carta {
    padding: 0 1.0rem;
    margin: 2rem;
    width: 100%;
    max-width: 80rem;
    padding: 30px;
    background-color: #fcfbfb;
    color: grey;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: 2rem;
}



img {
    padding: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    
}

/*img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #fff;
    cursor: pointer;
}*/

/*texto del contenido*/
.cajatext {
    font-family: 'La Belle Aurore', cursive;
    padding: 20px;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #69696c;
}

/*letra año*/
.text {
    font-size: 2.5rem;
    margin: 1rem 0 1rem;
    padding: 20px;
    text-transform: uppercase;
    color: #456786;
}

/*nombre de la peli*/
.nameMovie {
    padding: 2rem;
    padding-top: 70px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #69696c;
}

/*director*/
.text1 {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    display: block;
    color: #d9d9d9;
    font-size: 1.4rem;
    font-weight: 600;
    margin: .5rem 0 1rem;

}

/*@media screen and (max-width: 1068px){
    .cajaFilms{
        max-width: 80rem;
    }
    .img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .cajaFilms{
        padding: 2.5rem;
    }
}

@media screen and (max-width: 768px){
    .cajaFilms{
        padding: 2.5rem;
        flex-direction: column;
    }
    .img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}*/